version: '3.8'
  
services:
  web:
    build: 
      context: .
    ports:
      - "${APP_EXTERNAL_PORT}:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_EXTERNAL_PORT}:${DB_PORT}"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - ./db_data:/var/lib/mysql